/* Utility Classes */

.align-items-center {
  align-items: center;
}

.box-shadow-bottom {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.89);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.89);
}

.box-shadow-top {
  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.89);
  box-shadow: 0 -8px 6px -6px (0, 0, 0, 0.89);
}

.box-shadow-card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.89),
    0 2px 10px 0 rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.89),
    0 2px 10px 0 rgba(0, 0, 0, 0.78);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.89), 0 2px 10px 0 rgba(0, 0, 0, 0.78);
}

.bg-secondary {
  background-color: #8c91ab;
}

.color-white {
  color: #ffffff;
}

.color-white a {
  color: #ffffff;
}

.color-primary {
  color: #31fdaf;
}

.color-secondary {
  color: #8c91ab;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.p-0 {
  padding: 0;
}

.pl-25px {
  padding-left: 25px;
}

.pr-5px {
  padding-right: 5px;
}

.pl-5px {
  padding-left: 5px;
}

.pl-1_5em {
  padding-left: 1.5em;
}

.pt-20px {
  padding-top: 20px;
}

.py-15px {
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-0 {
  margin: 0;
}

.mx-auto {
  margin: 0 auto;
}

.font-weight-bold {
  font-weight: bold;
}

.text-decoration-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}
